<configuration scan="true">
  <property resource="application.properties" />

  <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-app.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-spring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-spring.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>


  <appender name="PROJECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-project.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-project.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="MQ" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-mq.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-mq.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="OUTBOUND_IMPL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-outbound-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-outbound-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.tiket.tix.archetype.mongodb.outbound.impl" level="DEBUG" additivity="false">
    <appender-ref ref="OUTBOUND_IMPL" />
  </logger>

  <appender name="REST_WEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-rest-web.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-rest-web.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.tiket.tix.archetype.mongodb.rest.web" level="DEBUG" additivity="false">
    <appender-ref ref="REST_WEB" />
  </logger>

  <appender name="SERVICE_IMPL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.file.directory}-service-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-service-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] %date{YYYY-MM-dd HH:mm:ss} [%thread] %logger{10} %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.tiket.tix.archetype.mongodb.service.impl" level="DEBUG" additivity="false">
    <appender-ref ref="SERVICE_IMPL" />
  </logger>

  <logger name="org.springframework" level="DEBUG" additivity="false">
    <appender-ref ref="SPRING" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="APP" />
    <appender-ref ref="PROJECT" />
  </logger>

  <logger name="org.springframework" level="INFO" additivity="false">
    <appender-ref ref="SPRING" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="APP" />
    <appender-ref ref="PROJECT" />
  </logger>

  <root level="WARN">
    <appender-ref ref="SPRING" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="APP" />
    <appender-ref ref="PROJECT" />
  </root>

  <root level="INFO">
    <appender-ref ref="SPRING" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="APP" />
    <appender-ref ref="PROJECT" />
  </root>

</configuration>